
.bb-2 {
    border-bottom: 2px solid var(--bs-primary-border-subtle);
}

@media (width >= 768px) {

    .img-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    img.book-cover {
        height: 70vh;
        max-width: 35vw;
        object-fit: contain;
        
    }

}
  
@media (width < 768px) {
    .img-container {
        display: flex;
        justify-content: center;
    }

    img.book-cover {
        object-fit: contain;
        padding-bottom: 1em;
        max-width: 90vw;
    }
    
}