
<div [id]="book.id" class="book-container container pb-4" appearance="outlined" *ngIf="book">
    <div class="row pt-4">
        <div class="col-md-6 col-sm-12 pb-4 ">
            <div class="img-container pb-1">
                <!-- <img  [src]="book.images || 'path/to/default-image.png'" /> -->
                <picture>
                    <source media="(min-width:1200px)" srcset="{{ book.images.large }}">
                    <source media="(min-width:768px)" srcset="{{ book.images.medium }}">
                    <source media="(max-width:768px)" srcset="{{ book.images.small }}">
                    <img div-image class="book-cover" alt="Book cover" src="{{ book.images.thumbnail }}" aria-hidden alt="Cover">
                  </picture>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="headers-container">
                <div class="headers pb-4">
                    <div class="title fw-semibold">
                        <h1>{{ book.title }}</h1>
                    </div>
                    <div>
                        <span class="fw-ligher fs-8">Created by: </span>
                        <br>
                        <h3 class="fw-normal">{{ book.authors }}</h3>
                    </div>
                </div>
                <div class="content">
                    <div class="pb-2" *ngIf="book.pageCount">
                        <span class="fw-ligher fs-8">Pages: </span>
                        <span class="fw-medium">{{ book.pageCount }}</span>
                    </div>
                    <div class="pb-2" *ngIf="book.publishedDate">
                        <span class="fw-ligher fs-8">Published Date: </span>
                        <span class="fw-medium">{{ book.publishedDate }}</span> 
                    </div>
                    <div class="pb-4 fw-light" *ngIf="book.textSnippet">
                        <p class="keyword">{{ book.textSnippet }}</p>
                    </div>
                    <div *ngIf="book.previewLink">
                        <a mat-flat-button href="{{ book.previewLink }}" target="_blank" rel="noopener noreferrer" class="w-100 mb-1" >Read Sample (opens new window)</a>
                        <a mat-flat-button href="{{ book.buyLink }}" target="_blank" rel="noopener noreferrer" class="w-100 mb-1" >Buy for {{ book.retailPrice | currency: book.currencyCode }} (opens new window)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4 mb-4 border border-primary-subtle rounded-4" *ngIf="book.description">
        {{ book.description | decodeHtml }}
    </div>
    <div class="row fw-medium" *ngIf="book.categories">
        <strong>Related Categories</strong>
        @for (category of book.categories; track null) {
            <p class="keyword mb-1 fs-8">{{ category }}</p>
        }
    </div>
</div>
