
<mat-card [id]="book.id" class="book-card" appearance="outlined" *ngIf="book">
    <img mat-card-image class="book-cover" [src]="book.image || 'path/to/default-image.png'" alt="Book cover"/>
    <div class="content-container">
        <mat-card-header>
        <mat-card-title>{{ book.title || 'No Title Available' }}</mat-card-title>
        <mat-card-subtitle *ngIf="book.authors?.length">
            <span *ngFor="let author of book.authors">{{ author }}</span>
        </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
        <div class="labels" *ngIf="book.rating">
            Rating: {{ book.rating }}
        </div>
        <div class="keywords" *ngIf="book.categories?.length">
            <span class="keyword" *ngFor="let category of book.categories">{{ category }} </span>
        </div>
        </mat-card-content>
    </div>
</mat-card>
