
.book-card {
    margin: 10px;

    .headers {
        display: flex;
        flex-direction:column;
    }

    .content{
        padding-top: 6px;

        .labels {
            padding: 3px 0;
        }

        .keywords {
            padding: 6px 0  0 0;
        }
    }
}

@media (width >= 768px) {
    .book-card {
        width: 220px;
        height: 370px;

        .headers {
            height: 125px;
        }

        img.book-cover {
            height: 147px;
            object-fit: contain;
            padding-top: 1em;
        }
    }
}
  
@media (width <= 769px) {   
    .book-card {
        width: 90vw;
        height: 170px;
        margin: 10px;
        display: flex;
        flex-direction: row;

        img.book-cover {
            object-fit: cover;
            height: 170px;
        }

        img.book-cover {
            border-radius: var(--mat-sys-corner-medium) 0 0 var(--mat-sys-corner-medium);
            background-color: #4d4d4d;
            height: 170px;
            width: 112px;
        }

        .content-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
  